.body {
    margin: 0;
    width: 1400px;


}

.main {

    background-color: #D0C3D3;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.container {
    padding: 0;
}

.description {
    font-size: 30px;

}

.section3 {
    font-size: 35px;
    font-weight: 700;
    padding-left: 200px;
}

.sait {
    text-align: center;
    font-size: 24px;
    color: #CB516A;
    margin-bottom: 10px;
}

.img-2 {
    width: 100%;
    max-width: 1400px;
    height: 800px;
    align-items: center;
}


.footer {
    margin: 40px 65px;
    width: 100%;
    max-width: 1100px;
    height: 300px;

}

.container__nav {
    font-size: 22px;
    font-weight: 600;

    list-style-type: none;
    line-height: 30px;
}

.container__ul {
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    text-align: line;

}

.header_logo1 {
    font-size: 35px;
    font-weight: 700;
    margin-left: 165px;
    margin-top: 40px;

}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
}

.list {
    font-size: 22px;
    line-height: 30px;

}

.nav_link {
    color: black;
    text-decoration: none;
    transition: color .2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #CB516A;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.nav_link:hover {
    color: #CB516A;

}

.nav_link:hover:after {
    opacity: 1;
}

.li {
    list-style-type: none;
}